/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
/src/rinky/*.lst
/src/sno/*.lst
/src/sno/ebnf-*.yy
/src/sno/ebnf-*.inc
/src/sno/ebnf-*.ebnf
/src/sno/ebnf-*.lisp
