/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/src/rinky/*.lst
/src/sno/*.lst
/src/sno/ebnf-*.yy
/src/sno/ebnf-*.inc
/src/sno/ebnf-*.ebnf
/src/sno/ebnf-*.lisp
/*.out